*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   }

body{
    font-family: "Montserrat", sans-serif;
}

html{
    scroll-behavior: smooth;
}

ul{
    list-style: none;
}

/* .debug{
    border: 1px solid red;
} */

:root {
    --color-bg-primary: #141922;
    --color-bg-sidebar: #000000;
    --color-bg-toolbar: #282828;
    --color-bg-border: #adff2f;
    --color-color-text1: #ffffff;
    --color-color-text2: #a3a3a3;
  }
  
  body {
    font-family: "Montserrat", sans-serif;
  }
  .wrapper {
    height: 100vh;
    overflow: hidden;
    background-color: var();
  }
  
  #toolbar {
    height: 90px;
    background-color: var();
  }
  .content {
    height: calc(100vh - 90px);
    width: 100%;
    background-color: var();
  }
  
  #sidebar {
    width: 200px;
    background-color: var(--color-bg-sidebar);
    padding-top: 20px;
  }
  
  .header {
    background-color: rgba(0, 0, 0, 0.5);
    width: calc(100% - 200px);
    height: 80px;
    position: fixed;
    z-index: 1000;
    padding-right: 40px;
    top: 0;
    left: 200px;
  }
  
  .btn {
    display: block;
    text-transform: uppercase;
    border-radius: 40px;
    border: 1px solid var(--color-color-text1);
    cursor: pointer;
    padding: 15px 40px;
    transition: transform 0.3s;
  }
  
  .btn:hover {
    transform: scale(1.1);
  }
  #toolbar {
    background-color: var(--color-bg-toolbar);
  }
  
  .text-center {
    text-align: center;
  }
  
  .text-color-grey {
    color: var(--color-color-text2);
  }
  
  .text-color-white {
    color: var(--color-color-text1);
  }
  /* main */
  
  main {
    width: calc(100% - 200px);
    background-color: var(--color-bg-primary);
    padding: 100px 20px 20px;
    overflow-y: auto;
  }
  
  /* navbar */
  
  .nav li {
    padding: 10px 20px;
  }
  
  .nav li a {
    position: relative;
    font-size: 0.9em;
    transition: var(--color-bg-border) 0.5s;
    text-transform: uppercase;
  }
  
  .nav li a:hover {
    color: var(--color-color-text1);
  }
  
  .nav li a::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -6px;
    transform: translateX(-50%);
    height: 0;
    width: 0;
    background: #81b71a;
    transition: width 0.5s, height 0.5s, transform 0.5s;
  }
  
  .nav li a:hover::after {
    height: 3px;
    width: 80%;
  }
  
  .nav li a.d-border::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -6px;
    transform: translateX(-50%);
    height: 3px;
    width: 40%;
    background: #81b71a;
  }
  
  /* row */
  
  .playlist {
    width: 100%;
    padding: 30px 0;
  }
  
  .playlist h2 {
    font-size: 1.8em;
    font-weight: 700;
  }
  
  .row {
    margin-top: 30px;
  }

  .items {
    width: calc((100% / 6) - 20px);
    margin: 10px;
  }
  
  .items h4 {
    font-size: 1.25em;
    padding-bottom: 10px;
  }
  
  .items p {
    font-size: 0.8em;
  }
  
  .border-rad {
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 10px;
  }


    /* imag */
  .img-item {
    aspect-ratio: 1 / 1;
    position: relative;
    cursor: pointer;
  }
  
  .img-item img {
    display: block;
    max-width: 100%;
    height: 100%;
    margin-bottom: 15px;
    object-fit: cover;
    transition: filter 0.5s;
  }
  
  .img-item i {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 4em;
    transition: filter 0.3s;
  }
  
  .img-item:hover img {
    filter: opacity(0.5);
  }
  
  .img-item:hover i {
    filter: opacity(0.8);
    display: block;
  }
  

  
  /* sidebar */
  
  #desktop {
    padding-left: 20px;
    padding-bottom: 35px;
    width: 130px;
  }
  
  #logomobile {
    width: 40px;
    display: none;
  }
  
  .list-menu {
    padding: 0px 15px;
  }
  
  .list-menu li {
  
      padding: 10px 0px;
      margin-left: -15px;
      transition: border 0.3s;
  }
  
  .list-menu li:hover {
      border-left: 3px solid var(--color-bg-border);
  }
  
  .list-menu span:hover {
      color: var(--color-color-text1);
  }
  
  .list-menu a img {
    display: inline-block;
    width: 50px;
    padding-right: 12px;
    padding-left: 10px;
    vertical-align: middle;
  }
  
  .list-menu a span {
      display: inline-block;
      vertical-align: middle;
  }
  
  #bord-left {
    border-left: 3px solid var(--color-bg-border);
  }


  